<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UMD Login</title>
    <link rel="shortcut icon" href="resources/umd_logo.png" type="image/x-icon">
    <!-- Styles -->
    <link rel="stylesheet" href="fake_modules/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="css/main.css">
    <!-- Scripts -->
    <script src="fake_modules/jquery.min.js"></script>
    <script src="fake_modules/popper.min.js"></script>
    <script src="fake_modules/angular.min.js"></script>
    <script src="fake_modules/sweetalert.min.js"></script>
    <script src="fake_modules/bootstrap-material-design.min.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
</head>

<body ng-app="main" ng-controller="login-controller">
    <div class="center">
        <div class="jumbotron title-container">
            <h1>UMD International</h1>
            <img src="resources/umd_logo.png" alt="YMD Logo">
        </div>
        <div class="form-container">
            <form name="loginForm">
                <div class="form-group">
                    <label for="input-name" class="bmd-label-floating">Name</label>
                    <input class="form-control" id="input-name" ng-model="user.name" required>
                </div>
                <div class="form-group">
                    <label for="input-password" class="bmd-label-floating">password</label>
                    <input type="password" class="form-control" id="input-password" ng-model="user.password" required>
                </div>
                <div class="error">{{error}}</div>
                <button ng-disabled="!loginForm.$valid" ng-click="login()" class="btn btn-raised btn-primary center-item">Send</button>
                <span> Or </span>
                <a href="index.html" class="center-item">Go To form Page</a>
            </form>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>

</html>